<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Personal loan" parallel="tests" thread-count="6">
    <classes>
      <class name="testng1.Day">
		   <methods>
			   <include name="demo"></include>
			   
		   </methods>
		  
		  </class>
      <class name="testng1.day1"/>
            <class name="testng1.day3"/>

    </classes>
  </test> <!-- Test -->
  
  
   <test thread-count="5" name="Car loan">
    <classes>
      <class name="testng1.day2">
      <methods>
		  
		  <exclude name= "Mobile.*"/> 
		  </methods>
		  </class>
		  
    </classes>
  </test>
  
  
</suite> <!-- Suite -->
